body {
  font-family: 'Josefin Sans', sans-serif;
}
header {
  margin-top: 60px;
}
#logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
  height: 240px;
}
.subtitle {
  text-align: center;
  color: #8f8f8f;
  font-size: 15px;
}
.navpage {
  font-size: 16px;
  text-align: center;
}
.navpage {
  padding: 20px;
  text-transform: uppercase;
}

.navpage a {
  text-decoration: none;
  color: #999999;
  padding: 10px;
}
a.active {
  color: black;
}
a:hover {
  color: black;
}

.container {
  width: 100%;

  display: flex;
  justify-content: center;
}
#photo {
  width: 400px;
  height: 305px;
}
.content {
  font-family: 'Montserrat', sans-serif;
  margin-top: 50px;
  color: #2f3841;
  text-align: center;
}
p {
  font-weight: normal;
}
.navmenu {
  margin: 0 auto;
}
.navlink {
  margin: 60px;
  display: flex;
  justify-content: center;
}
.navlink img {
  width: 30px;
  height: 30px;
  padding: 20px;
}
